*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-family: 'Changa', sans-serif;
}

h1{
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: black !important;
}

.mainDiv{
    width: 100%;
    height: 300vh;
    background-color: black;
}

 /* navBar */

 .navDiv{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .navContents{
    border: 1px solid rgb(246, 246, 246);
    border-radius: 30px;
    margin-top: 30px;
    height: 50px;
    width: 60%;
    background-color: rgb(210, 210, 210);
}

.hero {
    font-family: 'Inter', sans-serif;
    color: var(--whiteText);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
    flex-direction: column;
}

.text {
    background-image: linear-gradient(to left , #ffffff , #ffffff , #ffffff , #23dcc0, #ffffff, #ffffff, rgb(255, 255, 255));
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 80px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(186, 255, 248);
    background-size: 200%;
    animation: text-animate 10s linear infinite;
}

@keyframes text-animate {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.text2{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 25px;
}

.text-globe {
    font-family: 'Inter', sans-serif;
    width: 80%;
    font-weight: 600;
    font-size: 60px;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
